*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.social-media{
    height: 40px;
    width: 100%;
    background-color:#f93b2a ;
}
.social-media ul{
    float: right;
    padding-right: 30px;
}
.social-media ul li{
    display: inline-block;
    padding: 3px 5px;
    
}
.social-media ul li a{
    text-decoration: none;
    color: white;
    line-height: 35px;
    cursor: pointer;
}
.social-media ul li:nth-child(4){
    padding-left: 20px;
}
.social-media ul li a:hover{
    color: rgb(216, 210, 210);
}


.navbar{
    height: 85px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 85px;
}
.lines .bars{
    font-size: 25px;
    cursor: pointer;
}
.lines #check-btn{
    display: none;
}
.brand-img{
    cursor: pointer;
}
.btn-S button{
  padding: 10px 15px;
  background-color: #f93b2a;
  border: none;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: .5s;
}
.btn-S button:hover{
    transform: scale(1.2);
}


.navbar-items{
    height: 50px;
    width: 100%;
    background-color: white;
    box-shadow: rgba(33, 35, 38, 0.3) 0px 10px 10px -10px;
}
.navbar-items ul{
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.navbar-items ul li{
    line-height: 50px;

}
.navbar-items ul li a{
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    color: black;
    padding: 7px 3px;
}
.navbar-items ul li a:hover,
.navbar-items ul li a:active
{
    color: #f93b2a;
}



div.posts{
    height: 1000px;
    width: 100%;
    margin-top: 65px;
    margin-bottom: 65px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}
.posts .first-blog{
    height: 1000px;
    width: 24%;
    background-color: white;
}
.posts .second-blog{
    height: 1000px;
    width: 48%;
    background-color: white;
}
.posts .third-blog{
    height: 1000px;
    width: 24%;
    background-color: white;
}
.first-blog img{
    height: 350px;
    position: relative;
    width: 100%;
    display: block;
    cursor: pointer;
}
.first-blog span{
    position: absolute;
    bottom: 16px;
    background-color: #f93b2a;
    font-weight: bolder;
    font-size: 12px;
    cursor: pointer;
    
}
.first-blog p{
    font-weight: bold;
    font-size: 19px;
    padding: 20px 0px;
    cursor: pointer;
}
.first-blog p:hover{
    color: #f93b2a;
}
.first-blog h5{
    color: rgb(114, 104, 104);
    margin-bottom: 20px;
}
.first-blog .dosri-img{
    height: 250px;
    position: relative;
    width: 100%;
    display: block;
    cursor: pointer;
}
.first-blog h4{
    width: 65px;
    position: absolute;
    bottom: -393px;
    background-color: #f93b2a;
    font-weight: bolder;
    font-size: 12px;
    cursor: pointer;
}







.posts .second-blog img{
    height: 700px;
    width: 100%;
    position: relative;
    display: block;
    cursor: pointer;
}
.posts .second-blog h5{
    position: absolute;
    top: 150%;
    background-color: #f93b2a;
    color: white;
    margin-left: 20px;
    cursor: pointer;
}
.posts .second-blog h4{
    position: absolute;
    top: 120%;
    background-color: #f93b2a;
    color: white;
    font-size: 20px;
    margin-left: 20px;
    cursor: pointer;
}
.posts .second-blog span{
    position: absolute;
    top: 130%;
    font-size: 30px;
    background-color: #f93b2a;
    color: white;
    width: 450px;
    margin-left: 20px;
    font-weight: bold;
    cursor: pointer;
}

.second-blog .outter{
    height: 270px;
    width: 100%;
    background-color: white;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.second-blog .outter .imge {
    height: 270px;
    width: 50%;
    
}
.second-blog .outter .imge  img{
    height: 230px;
    width: 100%;
    margin-top: 20px;
}
.second-blog .outter .info{
    height: 270px;
    width: 50%;
    margin: 0px 20px;
} 
.second-blog .outter .info h6{
    color: #f93b2a;
    margin-top: 20px;
    font-size: 14px;
}
.second-blog .outter .info h1{
    font-size: 22px;
    margin-top: 30px;
}
.second-blog .outter .info p{
    font-size: 14px;
    margin-top: 13px;
    color: black;
}




.third-blog img{
    height: 300px;
    position: relative;
    width: 100%;
    display: block;
    cursor: pointer;
}
.third-blog span{
    position: absolute;
    top: 86%;
    background-color: #f93b2a;
    color: black;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
}
.third-blog p{
    font-size: 23px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}
.third-blog p:hover{
    color: #f93b2a;
}
.third-blog h5{
    color: rgb(114, 104, 104);
    margin-top: 20px;
}
.third-blog .dog-img{
    height: 350px;
    position: relative;
    width: 100%;
    display: block;
    cursor: pointer;
    margin-top: 20px;
}
.heading{
    border-bottom: 1px solid gray;
    margin: 0px 30px;
}
.heading h2{
    
    color: #f93b2a;
    
}

.eco{
    width: 100%;
    height: 500px;
    padding: 30px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    
}
.eco .out{
    height: 470px;
    width: 22%;
    background-color: white;
}
.eco .out .imgea{
    height: 270px;
    width: 100%;
    
}
.eco .out .imgea img{
    height: 100%;
    width: 100%;
    cursor: pointer;
}
.eco .out .information h2{
    padding-top: 20px;
    font-size: 20px;
    cursor: pointer;
}
.eco .out .information h2:hover{
    color: #f93b2a;
}
.eco .out .information h5{
    padding-top: 20px;
    color: rgb(114, 104, 104);
}



.complete-image{
    height: 600px;
    width: 100%;
    background-color: black;
    margin-top: 50px;
    margin-bottom: 50px;
}
.complete-image img{
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    cursor: pointer;
    transition: .5s;
}
.complete-image img:hover{
    transform: scale(1.1);
}
.complete-image .items{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 2800px;
    text-align: center;
    align-content: center;
    left: 32%;
    
}
.complete-image .items span{
    background-color: #f93b2a;
    color: white;
    height: 30px;
    width: 100px;
    text-align: center;
    align-content: center;
    font-size: 12px;
    margin-left: 190px;
}
.complete-image .items h1{
    color: white;
    margin-top: 20px;
    cursor: pointer;
}
.complete-image .items h5{
    color: white;
    margin-top: 20px;
    width: 270px;
    margin-left: 110px;
}


.title{
    padding: 0px 50px;
    width: 100%;
    height: 30px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.title .title-1{
    width: 65%;

    border-bottom: 1px solid gray;
}
.title .title-1 h2{
    color: #f93b2a;
}
.title .title-2{
    width: 30%;
    border-bottom: 1px solid gray;
}
.title .title-2 h2{
    color: #f93b2a;  
}
.coloumn-posts{
    width: 100%;
    height: 2200px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
}
.coloumn-posts .coloumn-posts-1{
    width: 65%;
}
.coloumn-posts .coloumn-posts-1 .post-1{
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}
.coloumn-posts .coloumn-posts-1 .post-1 .photo{
    width: 50%;
    height: 350px;
}
.coloumn-posts .coloumn-posts-1 .post-1 .photo img{
    width: 100%;
    height: 350px;
    padding: 50px;
    cursor: pointer;
}
.coloumn-posts .coloumn-posts-1 .post-1 .detaile{
    width: 50%;
    height: 350px;
}
.coloumn-posts .coloumn-posts-1 .post-1 .detaile p{
    padding-top: 70px;
    font-size: 12px;
    color: #f93b2a;
    font-weight: 600;
}
.coloumn-posts .coloumn-posts-1 .post-1 .detaile h3{
    padding-top: 15px;
    font-size: 21px;
    cursor: pointer;
}
.coloumn-posts .coloumn-posts-1 .post-1 .detaile h3:hover{
    color: #f93b2a;
}
.coloumn-posts .coloumn-posts-1 .post-1 .detaile h6{
    padding-top: 15px;
    font-size: 12px;
    color: gray;
}
.coloumn-posts .coloumn-posts-1 .post-1 .detaile h6 span{
    padding-top: 20px;
    font-size: 13px;
    color: black;
}


.coloumn-posts .coloumn-posts-2{
    width: 30%;
}
.coloumn-posts .coloumn-posts-2 .post-2{
    width: 100%;
    height: 420px;
}
.coloumn-posts .coloumn-posts-2 .post-2 .photo{
    width: 100%;
    height: 350px;
    padding: 20px;
}
.coloumn-posts .coloumn-posts-2 .post-2 .photo img{
    width: 100%;
    height: 100%;
}
.coloumn-posts .coloumn-posts-2 .post-2 .details h2{
    padding: 0px 20px;
    font-size: 21px;
    color: black;
} 



footer{
    height: 450px;
    width: 100%;
    background-color: rgb(6, 6, 46);
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
footer .pic h1 {
    padding-top: 50px;
     color: white;
     font-size: 80px;
}
footer .pic h1 span {
    color: #f93b2a;
}
footer .pic h2{
    color: #f93b2a;
     font-size: 35px;
}
footer .pic h2 span {
    color: white;
}
footer .icons{
    height: 50px;
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
}
footer .icons .icon{
    height: 50px;
    width: 50px;
    background-color: rgba(128, 128, 128, 0.651);
    border-radius: 50px;
}
footer .icons .icon a{
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 15px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
footer .icons .icon a:hover{
    color: #f93b2a;
}
footer .list ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
footer .list ul li{
    color: white;
    padding: 7px 15px;
    font-weight: bold;
    font-size: 16px;
    padding-top: 70px;
}
.web{
    color: rgba(128, 128, 128, 0.651);
    font-size: 13px;
    padding-top: 30px;
    padding-bottom: 50px;
    
}