*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.social-media{
    height: 40px;
    width: 100%;
    background-color:#f93b2a ;
}
.social-media ul{
    float: right;
    padding-right: 30px;
}
.social-media ul li{
    display: inline-block;
    padding: 3px 5px;
    
}
.social-media ul li a{
    text-decoration: none;
    color: white;
    line-height: 35px;
    cursor: pointer;
}
.social-media ul li:nth-child(4){
    padding-left: 20px;
}
.social-media ul li a:hover{
    color: rgb(216, 210, 210);
}


.navbar{
    height: 85px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 85px;
}
.lines .bars{
    font-size: 25px;
    cursor: pointer;
}
.lines #check-btn{
    display: none;
}
.brand-img{
    cursor: pointer;
}
.btn-S button{
  padding: 10px 15px;
  background-color: #f93b2a;
  border: none;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: .5s;
}
.btn-S button:hover{
    transform: scale(1.2);
}


.navbar-items{
    height: 50px;
    width: 100%;
    background-color: white;
    box-shadow: rgba(33, 35, 38, 0.3) 0px 10px 10px -10px;
}
.navbar-items ul{
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.navbar-items ul li{
    line-height: 50px;

}
.navbar-items ul li a{
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    color: black;
    padding: 7px 3px;
}
.navbar-items ul li a:hover,
.navbar-items ul li a:active
{
    color: #f93b2a;
}



div.posts{
    height: 1000px;
    width: 100%;
    margin-top: 65px;
    margin-bottom: 65px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}
.posts .first-blog{
    height: 1000px;
    width: 24%;
    background-color: white;
}
.posts .second-blog{
    height: 1000px;
    width: 48%;
    background-color: white;
}
.posts .third-blog{
    height: 1000px;
    width: 24%;
    background-color: white;
}
.first-blog img{
    height: 350px;
    position: relative;
    width: 100%;
    display: block;
    cursor: pointer;
}
.first-blog span{
    position: absolute;
    bottom: 16px;
    background-color: #f93b2a;
    font-weight: bolder;
    font-size: 12px;
    cursor: pointer;
    
}
.first-blog p{
    font-weight: bold;
    font-size: 19px;
    padding: 20px 0px;
    cursor: pointer;
}
.first-blog p:hover{
    color: #f93b2a;
}
.first-blog h5{
    color: rgb(114, 104, 104);
    margin-bottom: 20px;
}
.first-blog .dosri-img{
    height: 250px;
    position: relative;
    width: 100%;
    display: block;
    cursor: pointer;
}
.first-blog h4{
    width: 65px;
    position: absolute;
    bottom: -393px;
    background-color: #f93b2a;
    font-weight: bolder;
    font-size: 12px;
    cursor: pointer;
}







.posts .second-blog img{
    height: 700px;
    width: 100%;
    position: relative;
    display: block;
    cursor: pointer;
}
.posts .second-blog h5{
    position: absolute;
    top: 150%;
    background-color: #f93b2a;
    color: white;
    margin-left: 20px;
    cursor: pointer;
}
.posts .second-blog h4{
    position: absolute;
    top: 120%;
    background-color: #f93b2a;
    color: white;
    font-size: 20px;
    margin-left: 20px;
    cursor: pointer;
}
.posts .second-blog span{
    position: absolute;
    top: 130%;
    font-size: 30px;
    background-color: #f93b2a;
    color: white;
    width: 450px;
    margin-left: 20px;
    font-weight: bold;
    cursor: pointer;
}

.second-blog .outter{
    height: 270px;
    width: 100%;
    background-color: white;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.second-blog .outter .imge {
    height: 270px;
    width: 50%;
    
}
.second-blog .outter .imge  img{
    height: 230px;
    width: 100%;
    margin-top: 20px;
}
.second-blog .outter .info{
    height: 270px;
    width: 50%;
    margin: 0px 20px;
} 
.second-blog .outter .info h6{
    color: #f93b2a;
    margin-top: 20px;
    font-size: 14px;
}
.second-blog .outter .info h1{
    font-size: 22px;
    margin-top: 30px;
}
.second-blog .outter .info p{
    font-size: 14px;
    margin-top: 13px;
    color: black;
}




.third-blog img{
    height: 300px;
    position: relative;
    width: 100%;
    display: block;
    cursor: pointer;
}
.third-blog span{
    position: absolute;
    top: 86%;
    background-color: #f93b2a;
    color: black;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
}
.third-blog p{
    font-size: 23px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}
.third-blog p:hover{
    color: #f93b2a;
}
.third-blog h5{
    color: rgb(114, 104, 104);
    margin-top: 20px;
}
.third-blog .dog-img{
    height: 350px;
    position: relative;
    width: 100%;
    display: block;
    cursor: pointer;
    margin-top: 20px;
}

.heading h2{
    padding-left: 30px;
    color: #f93b2a;
    
}

.eco{
    width: 100%;
    height: 500px;
    padding: 30px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    
}
.eco .out{
    height: 500px;
    width: 22%;
    background-color: white;
}
.eco .out .imgea{
    height: 270px;
    width: 100%;
    
}
.eco .out .imgea img{
    height: 100%;
    width: 100%;
    cursor: pointer;
}
.eco .out .information h2{
    padding-top: 20px;
    font-size: 20px;
    cursor: pointer;
}
.eco .out .information h2:hover{
    color: #f93b2a;
}
.eco .out .information h5{
    padding-top: 20px;
    color: rgb(114, 104, 104);
}


